!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-type"}/
    %meta{:content => "Many best recipes for cooking", :name => "description"}/
    %meta{:content => "cook,recipe,cookbook", :name => "keywords"}/
    %meta{:content => "Darco", :name => "owner"}/
    %meta{:content => "Copyright", :name => "copyright"}/
    %meta{:content => "Web#Darco", :name => "author"}/
    %meta{:content => "General", :name => "rating"}/
    %meta{:content => "7 days", :name => "revisit-after"}/
    %title Your Sitename
    %link{:href => "style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %body
    %a{:name => "top"}
    #container
      #header
        #title Praktyczne przepisy kulinarne
        #subtitle Gotuj z pasją
      #wrapper
        #content
          #text
            #footerleft
              %strong Your Name
              %br/
              Your Road
              %br/
              Your City
              %br/
              PHONE: (000) 000-0000
              %br/
              FAX:   (000) 000-0000
              %p
                E-mail:
                %a{:href => "mailto:info@yourdomain.com"} info@yourdomain.com
            #footerright
              © Copyright 2007
              %a{:href => "#sitename"} Your Sitename
              %br/
              %a{:href => "http://validator.w3.org/check?uri=referer"} XHTML 1.0 Transitional
              %br/
              Sponsored by
              %a{:href => "http://www.opendesigns.org"} Open Designs
              %br/
              Design by wfiedler
      #navleft1
        %h1 Categories
        %ul#nav
          %li
            %a{:href => "index.html"} Home
          %li
            %a{:href => "#sitename"} Hyperlink
          %li
            %a{:href => "#sitename"} Hyperlink
          %li
            %a{:href => "#sitename"} Hyperlink
          %li
            %a{:href => "#sitename"} Hyperlink
        .box
          %h4 Headline
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur massa. Nullam enim arcu, adipiscing id, porta eget, consequat ut, lacus. Aliquam nibh. Etiam tortor ligula, facilisis sed, mattis sit amet, faucibus ut, turpis.
        %img{:alt => "Dill", :height => "70", :src => "images/dill.jpg", :width => "180"}/
      #navleft2
        %ul#submenu
          %li
            %a{:href => "#sitename"} Hyperlink
          %li
            %a{:href => "#sitename"} Hyperlink
          %li
            %a{:href => "#sitename"} Hyperlink
          %li
            %a{:href => "#sitename"} Hyperlink
          %li
            %a{:href => "#sitename"} Hyperlink
        %img{:alt => "Image", :height => "170", :src => "images/image_01.jpg", :width => "170"}/
